* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(/images/logo.png);
    height: 15em;
    width: 30em;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 3rem auto 0 auto;
    
}

.container1 {
    border: 5px solid rgb(0, 0, 0);
    width: 30rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.753);
    padding: 1rem;
    text-align: center;
    color: rgb(75, 75, 75);
}

.container1 p {
    font-size: 0.9rem;
    padding-top: 1rem;
}

.container2 {
    text-align: center;
    width: 30rem;
    margin: 1rem auto;
    background-image: url(/images/transparent_white.png);
    padding: 1rem;
    color: rgb(75, 75, 75);
}

.container2 p {
    font-size: 0.9rem;
    padding: 1rem;
}

form {
    width: 50%;
    margin: auto;
    
}

input {
    width: 100%;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

label {
    display: block;
    text-align: left;
    background-color: rgb(55, 55, 55);
    color: white;
    font-size: 0.5rem;
    text-transform: uppercase;
    padding: 2px;
} 

.form-group {
    margin-bottom: 0.5rem;
}

.submit {
    background-color: rgb(55, 55, 55);
    color: white;
    
}